<a href="https://colab.research.google.com/github/IsmaelOr/Proyecto_Fase3_Modulo1_Equipo9/blob/main/limpieza_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import math

In [ ]:
cardio = pd.read_csv('https://raw.githubusercontent.com/IsmaelOr/Proyecto_Fase3_Modulo1_Equipo9/main/Files/cardio_train.csv', sep = ';')

cardio.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [ ]:
cardio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [ ]:
cardio = cardio.drop(columns = ['id'])

In [ ]:
columnas = {
    'age'           :   'edad',
    'gender'        :   'genero',
    'height'        :   'estatura',
    'weight'        :   'peso',
    'ap_hi'         :   'presion_sistolica',
    'ap_lo'         :   'presion_diastolica',
    'cholesterol'   :   'colesterol',
    'gluc'          :   'glucosa',
    'smoke'         :   'tabaco',
    'alco'          :   'alcohol',
    'active'        :   'act_fisica',
    'cardio'        :   'enfermedad_cardiovascular'
}

In [ ]:
cardio = cardio.rename(columns = columnas)

In [ ]:
def dias_anios(edad):
    return math.floor(edad / 365)

In [ ]:
cardio['edad'] = list(map(dias_anios, cardio['edad']))

In [ ]:
cardio.insert(4, 'imc', round((cardio['peso'] / (cardio['estatura'] / 100) ** 2), 2))

In [ ]:
cardio.head()

   edad  genero  estatura  ...  alcohol  act_fisica  enfermedad_cardiovascular
0    50       2       168  ...        0           1                          0
1    55       1       156  ...        0           1                          1
2    51       1       165  ...        0           0                          1
3    48       2       169  ...        0           1                          1
4    47       1       156  ...        0           0                          0

[5 rows x 13 columns]

In [ ]:
pd.DataFrame.to_csv(cardio, 'enfermedades_cardiovasculares.csv')